html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}

.btn-discord {
  background-color: #7289DA;
}
.btn-img {
  display: inline-block !important;
  color: #fff !important;
  font-family: sans-serif;
  font-size: 26px !important;
  font-weight: 100 !important;
}
.btn-img img {
  height: 45px;
  width: 45px !important;
  float: left;
}
#editPinForm {
  margin: 10px 0 10px 0;
  display: inline-block;
  width: 100%;
}
#editPinForm input, #editPinForm button {
  width: 49%;
  display: inline-block;
}
#editPinForm input {
  float: left;
}
#editPinForm button {
  float: right;
  min-width: 75px;
}
#aboutMessage {
  line-height: 30px;
}
#aboutMessage span {
  font-size: 10px;
}
#pinInfoWindowContainer {
  max-width: 250px;
}
#pinInfoWindowContainer span, #pinInfoWindowContainer p {
  display: block;
}
#pinInfoWindowContainer span {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}
#logoImg {
  max-width: 300px;
  padding-top: 20px;
  margin: 0 auto 0 auto;
  display: block;
  width: 100%;
}
#loadingImage {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    padding: 5px;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin:-75px 0 0 -75px;
    border-radius: 50%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#map {
  height: 100%;
}
#newPinMessage {
  display: none;
}
#modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
#modal_content {
  max-width: 700px;
  padding: 20px;
  background-color: white;
  margin: 50px auto 50px auto;
}
#modal_content h1 {
  margin-top: 0px;
  text-align: center;
}
#yui_high_five {
  margin: 0 auto 0 auto;
  width: 300px;
  display: block;
}
.pin-input {
  width: 50px;
  display: inline-block;
}
.pin-input img {
  width: 35px;
  cursor: pointer;
}
#addPinUI, #showAboutUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}
#addPinText, #showAboutText {
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
#showAboutUI {
  margin-left: 12px;
}
