<h1>{% block title %}{% endblock %}</h1>
<form>
  <div class="form-group">
    <label class="control-label" for="inputName">{{ _("Name") }}</label>
    <input class="form-control" id="inputName" value="{{ pin.name if pin is defined else "" }}">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputPinIcon">{{ _("Icon") }}</label>
    <br />
    {% for index in range(1, 5) %}
      <div class="pin-input">
        {% if pin is defined and index == pin.pin_icon %}
          <input type="radio" name="inputPinIcon" value="{{ index }}" checked />
        {% else %}
          <input type="radio" name="inputPinIcon" value="{{ index }}" />
        {% endif %}
        <img src="/images/pins/{{ index }}.png" />
      </div>
    {% endfor %}
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFavMember">{{ _("Favorite Member") }}</label>
    <select class="form-control" id="inputFavMember">
      <option value="" selected disabled>{{ _("Select One") }}</option>
      <option value="0" selected >{{ _("They are all my favorite") }}</option>
      {% for member_id in members_display_sort %}
        {% if pin is defined and member_id|int == pin.favorite_member %}
          <option value="{{ member_id }}" selected >{{ members_dict[member_id] }}</option>
        {% else %}
          <option value="{{ member_id }}">{{ members_dict[member_id] }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFavSong">{{ _("Favorite Song") }}</label>
    <select class="form-control" id="inputFavSong">
      <option value="" selected disabled>{{ _("Select One") }}</option>
      <option value="0" selected >{{ _("They are all my favorite") }}</option>
      {% for song_id in songs_display_sort %}
        {% if pin is defined and song_id|int == pin.favorite_song %}
          <option value="{{ song_id }}" selected >{{ songs_dict[song_id] }}</option>
        {% else %}
          <option value="{{ song_id }}">{{ songs_dict[song_id] }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputCommunities">{{ _("Community") }}</label>
    <select multiple="" class="form-control" id="inputCommunities" aria-describedby="communityHelp">
      <option value="" disabled>{{ _("Select At Least One") }}</option>
      <option value="0" selected >{{ _("None") }}</option>
      {% for community_id in communities_display_sort %}
        {% if pin is defined and community_id|int in pin_communities %}
          <option value="{{ community_id }}" selected >{{ communities_dict[community_id] }}</option>
        {% else %}
          <option value="{{ community_id }}">{{ communities_dict[community_id] }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAboutYou">{{ _("About You") }}</label>
    <textarea class="form-control" id="inputAboutYou" rows="3" aria-describedby="aboutYouHelp">{{ pin.about_you if pin is defined else "" }}</textarea>
    <small id="aboutYouHelp" class="form-text text-muted">Tell everyone your BABYMETAL story?</small>
  </div>
  {% block extra_form_inputs %}{% endblock %}
  <div id="formError" class="form-group bg-warning"></div>
  <button type="button" class="btn btn-primary" onclick="{% block submit_button_function %}{% endblock %}(); return false;">
    {% block submit_button_title %}{% endblock %}
  </button>
  <button type="button" class="btn btn-default" onclick="closeModal(); return false;">{{ _("Close") }}</button>
</form>
