{% import 'templates/macros.html' as macros %}
<!DOCTYPE html>
<html>
  <head>
    <title>Kitsune Network</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="css/map.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="map"></div>
    {% if show_modal_onload %}
      <div id="modal">
    {% else %}
      <div id="modal" style="display:none">
    {% endif %}
      <div id="modal_content">
        {% if show_pin_activated_message %}
          <div id="pinActivatedMessage">
            <h1>Pin Activated!</h1>
            <img id="yui_high_five" src="/images/yui_high_five.gif" />
            <br />
            <button type="button" class="btn btn-success btn-block" onclick="closeModal(); return false;">{{ _("Close") }}</button>
          </div>
        {% elif show_pin_edit_form %}
          {% include 'templates/pin/edit_pin_form.html' %}
        {% endif %}
      </div>
    </div>
    <div id="newPinMessage" class="hidden">
      <br />
      <p>
        Is the marker in the correct place?<br />
        You can drag it into place.
      </p>
      <p>
        <button class="btn btn-primary btn-block" onclick="openModalForm()">{{ _("Continue") }}</button>
      </p>
    </div>
    <div id="aboutContent" class="hidden">
      <img id='logoImg' src='/images/logo.png' />
      <br />
      <p id="aboutMessage">
        Welcome to Kitsue Network! This website is dedicated to plotting all of the fans of the band BABYMETAL around the world.
        If you do not know who BABYMETAL are then watch <a target="_blank" href="https://www.youtube.com/watch?v=WIKqgE4BwAY">this video</a>.
        If you are a kitsune (fan of the band) please feel free to add your location on the map!
        Please join us on Discord if you have any feature suggestions for the site. We are always open to new suggestions.
        This website is open source too! If you'd like to contribute, please join us on Discord :)
        <span>Not affiliated with BABYMETAL</span>
      </p>
      {{ macros.discordbutton() }}
      <form id="editPinForm">
          <span>
            If you would like to edit your pin just enter your email in the box below.
          </span>
          <br />
          <input type="email" class="form-control" id="inputEditEmail" placeholder="Email">
          <button type="submit" class="btn btn-primary" onclick="submitEditPinEmail(); return false;">Edit Pin</button>
      </form>
      <button type="button" class="btn btn-primary btn-block" onclick="closeModal(); return false;">Close</button>
    </div>
    <img id="loadingImage" src="/images/spinner.png" />
    <div class="hidden">
      <label id="showAboutTextLabel">{{ _("More") }}</label>
      <label id="addPinTextLabel">{{ _("Add Pin") }}</label>
    </div>
    <script src="js/map.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkCmG2AHA0sr41yzJFrsXr6cl_ovUusBs&callback=initMap">
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98188024-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
