<!DOCTYPE html>
<html>
  <head>
    <title>Kitsune Network</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="css/map.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="map"></div>
    {% if show_modal_onload %}
      <div id="modal">
    {% else %}
      <div id="modal" style="display:none">
    {% endif %}
      <div id="modal_content">
        {% if show_pin_activated_message %}
          <div id="pinActivatedMessage">
            <h1>Pin Activated!</h1>
            <img src="/images/yui_high_five.gif" />
            <br />
            <button type="button" class="btn btn-success btn-block" onclick="closeModal(); return false;">Close</button>
          </div>
        {% endif %}
      </div>
    </div>
    <div id="newPinMessage">
      Is the marker in the correct place?
      <br />
      You can drag it into place.
      <br />
      <button class="btn btn-primary btn-block" onclick="openModalForm()">Yes</button>
    </div>
    <div id="aboutContent" class="hidden">
      <h1>About</h1>
      Not affiliated with BABYMETAL
      <br />
      Join us on Discord:
      <br />
      <a href="https://discord.gg/QywBrcf">https://discord.gg/QywBrcf</a>
      <button type="button" class="btn btn-secondary btn-block" onclick="closeModal(); return false;">Close</button>
    </div>
    <script src="js/map.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkCmG2AHA0sr41yzJFrsXr6cl_ovUusBs&callback=initMap">
    </script>
  </body>
</html>
