<h1>Setup your pin!</h1>
<form>
  <div class="form-group">
    <label class="control-label" for="inputName">Pin Name</label>
    <input class="form-control" id="inputName">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputPinIcon">Pin Icon</label>
    <select class="form-control" id="inputPinIcon">
      <option value="">Select One</option>
      <option value="1">Kitsune Mask</option>
      <option value="2">Suzuka</option>
      <option value="3">Moa</option>
      <option value="4">Yui</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFavMember">Favorite Member</label>
    <select class="form-control" id="inputFavMember">
      <option value="">Select One</option>
      <option value="0">They are all my favorite</option>
      <option value="1">SU-METAL</option>
      <option value="2">MOAMETAL</option>
      <option value="3">YUIMETAL</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFavSong">Favorite Song</label>
    <select class="form-control" id="inputFavSong">
      <option value="">Select One</option>
      <option value="0">They are all my favorite</option>
      <option value="1">Doki Doki ☆ Morning</option>
      <option value="2">Ijime Dame Zettai</option>
      <option value="3">Akatsuki</option>
      <option value="4">Iine!</option>
      <option value="5">Head Bangya!!</option>
      <option value="6">Uki Uki ★ Midnight</option>
      <option value="7">BABYMETAL DEATH</option>
      <option value="8">Onedari Daisakusen</option>
      <option value="9">Catch me if you can</option>
      <option value="10">Megitsune</option>
      <option value="11">NO RAIN, NO RAINBOW</option>
      <option value="12">Gimme Chocolate!!</option>
      <option value="13">Rondo of Nightmare</option>
      <option value="14">Song 4</option>
      <option value="15">Road of Resistance</option>
      <option value="16">Awadama Fever</option>
      <option value="17">YAVA!</option>
      <option value="18">THE ONE</option>
      <option value="19">Karate</option>
      <option value="20">Amore</option>
      <option value="21">Meta Tarō</option>
      <option value="22">Syncopation</option>
      <option value="23">From Dusk Till Dawn</option>
      <option value="24">GJ!</option>
      <option value="25">Sis. Anger</option>
      <option value="26">Tales of The Destinies</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputCommunities">Community</label>
    <select multiple="" class="form-control" id="inputCommunities" aria-describedby="communityHelp">
      <option value="0">None</option>
      <option value="1">THE ONE</option>
      <option value="2">/r/BABYMETAL</option>
      <option value="3">/r/BABYMETAL_japan</option>
    </select>
    <small id="communityHelp" class="form-text text-muted">You can select multiple.</small>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAboutYou">About You</label>
    <textarea class="form-control" id="inputAboutYou" rows="3" aria-describedby="aboutYouHelp"></textarea>
    <small id="aboutYouHelp" class="form-text text-muted">Tell everyone your BABYMETAL story?</small>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. This is only to activate your pin and allow you to edit again later.</small>
  </div>
  <button type="button" class="btn btn-primary" onclick="sendActivationEmail(); return false;">Send Activation Email</button>
  <button type="button" class="btn btn-default" onclick="closeModal(); return false;">Cancel</button>
</form>
