<h1>Setup your pin!</h1>
<form>
  <div class="form-group">
    <label for="inputName">Pin Name</label>
    <input class="form-control" id="inputName">
  </div>
  <div class="form-group">
    <label for="inputPinIcon">Pin Icon</label>
    <select class="form-control" id="inputPinIcon">
      <option value="">Select One</option>
      <option value="1">Kitsune Mask</option>
      <option value="2">Suzuka</option>
      <option value="3">Moa</option>
      <option value="4">Yui</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputFavMember">Favorite Member</label>
    <select class="form-control" id="inputFavMember">
      <option value="">Select One</option>
      <option value="0">They are all my favorite</option>
      <option value="1">SU-METAL</option>
      <option value="2">MOAMETAL</option>
      <option value="3">YUIMETAL</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputFavSong">Favorite Song</label>
    <select class="form-control" id="inputFavSong">
      <option value="">Select One</option>
      <option value="0">They are all my favorite</option>
      {% for key, song in songs.items() %}
        <option value="{{ key }}">{{ song }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="inputCommunities">Community</label>
    <select multiple class="form-control" id="inputCommunities" aria-describedby="communityHelp">
      <option value="0">None</option>
      {% for key, community in communities.items() %}
        <option value="{{ key }}">{{ community }}</option>
      {% endfor %}
    </select>
    <small id="communityHelp" class="form-text text-muted">You can select multiple.</small>
  </div>
  <div class="form-group">
    <label for="inputAboutYou">About You</label>
    <textarea class="form-control" id="inputAboutYou" rows="3" aria-describedby="aboutYouHelp"></textarea>
    <small id="aboutYouHelp" class="form-text text-muted">Tell everyone your BABYMETAL story?</small>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. This is only to activate your pin and allow you to edit again later.</small>
  </div>
  <button type="button" class="btn btn-primary" onclick="sendActivationEmail(); return false;">Send Activation Email</button>
  <button type="button" class="btn btn-secondary" onclick="closeModal(); return false;">Cancel</button>
</form>
