<div id="pinInfoWindowContainer">
  <h4>{{ pin.name }}</h4>
  <span>{{ _("Favorite Member") }}</span>
  <p>{{ _(fav_member) }}</p>
  <span>{{ _("Favorite Song") }}</span>
  <p>{{ _(fav_song) }}</p>
  {% if communities|length > 1 %}
    <span>{{ _("Communities") }}</span>
    <p>
      {% for community in communities %}
        {{ _(community) }}<br />
      {% endfor %}
    </p>
  {% else %}
    <span>{{ _("Community") }}</span>
    <p>{{ _(communities[0]) }}</p>
  {% endif %}
  <span>{{ _("About Me") }}</span>
  <p>
    {% for line in pin.about_you.splitlines() %}
        {{line}}<br />
    {% endfor %}
  </p>
</div>
