<div id="pinInfoWindowContainer">
  <h4>{{ pin.name }}</h4>
  <b>{{ _("Favorite Song") }}:</b> {{ fav_song }}<br />
  <b>{{ _("Favorite Member") }}:</b> {{ fav_member }}<br />
  {% if communities|length > 1 %}
    <b>{{ _("Communities") }}:</b> <br />
    {% for community in communities %}
      {{ community }}<br />
    {% endfor %}
  {% else %}
    <b>{{ _("Community") }}:</b> {{ communities[0] }}<br />
  {% endif %}
  <b>{{ _("About Me") }}:</b><br />
  {% for line in pin.about_you.splitlines() %}
      {{line}}<br />
  {% endfor %}
</div>
